<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="vieport" content="width=device-width, initial-scale=1.0">
    <title>Blog Contents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="./CSS/me.css">

</head>
<body>
   <!--导航navigation -->
   <nav class="ui inverted attached segment m-padded-tb-mini">
      <div class="ui container" >
          <div class="ui inverted secondary stackable menu">
              <h2 class="ui teal header item">Blog</h2>
              <a href="a" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
              <a href="a" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>Category</a>
              <a href="a" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>Tags</a>
              <a href="a" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>Archives</a>
              <a href="a" class="m-item item m-mobile-hide"><i class="mini info icon"></i>About Me</a>
              <div class="right m-item item m-mobile-hide">
                  <div class="ui icon inverted transparent input">
                      <input type="text" placeholder="Search...">
                      <i class="search link icon"></i>
                  </div>
              </div>
          </div>
      </div>
       <a href="" class="ui menu toggle black icon button m-right-top m-mobile-show">
           <i class="sidebar icon"></i>
       </a>


   </nav>

   <!--中间内容content -->
   <div class="m-container-small m-padded-tb-big">
       <div class="ui container">
           <div class="ui top attached segment">
               <div class="ui horizontal link list">
                   <div class="item">
                       <img src="https://picsum.photos/seed/picsum/100/150" alt="" class="ui avatar image">
                       <div class="content"><a href="#" class="header">Kun_Love_Life</a></div>
                   </div>
                   <div class="item">
                       <i class="calendar icon"></i> 10/17/2020
                   </div>
                   <i class="eye icon"></i> 2354
               </div>
           </div>
           <!--image-->
           <div class="ui attached segment">
               <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui fluid rounded image">
           </div>
           <!--contents-->
           <div class="ui attached segment">
               <div class="ui right aligned basic segment">
                   <div class="ui orange basic label">Oringinal</div>
               </div>

               <h2 class="ui center aligned header">Why you start to coding?</h2>

               <div id="content" class="m-padded-lr">
                   <p>
                       Long story ahead cause it pretty much changed my life:
                   </p>
                    <p>
                       Freshmen year in High School my Algebra teacher was a first year teacher and told us his major was computer science. I didn't know what that meant at the time, but he was also the computer science teacher at the school. I ended up struggling in algebra the first few months, and he ended up taking me under his wing. I ended up staying after school to get tutoring help. Which lead to me staying with his computer science students sometimes and they showed some stuff they were doing and I was so amazed by it.
                    </p>
                    <p>
                       One day in class I was by his desk and saw he had some programming books. I took one and he said I could take it home with me. After he saw for 2 weeks me not wanting to give it back because I loved it so much he said "alright, go make a website using only this book, and I'll host it for you." I came back with a crappy website and next thing I knew he gave me own domain and hosted it for me. It was so cool to see something I made online. From there I was hooked. I kept that book until the last day of school and when I went to give it back to him he told me to wait. He started writing in it and wrote me a long note saying keep this, keep working, thanked me for making his first year so great, and more.
                    </p>
                    <p>
                       From then on I knew what I wanted to do. I taught myself C++ that summer and we kept in touch over next couple years. I would email him from time to time and he'd give me advice what to do next. He even gave me access to the computer science class one year and allowed me to take their quizzes.
                    </p>
                   <p>
                       12-13 years later I am a Lead Developer at a company doing what I love. I wish I could find him now to thank him for having such a profound influence in my life.
                   </p>
                   </p>

               </div>

               <!--label-->
               <div class="m-padded-lr">
                   <div class="ui basic teal left pointing label">Theories</div>
               </div>

               <!--like--->
               <div class="ui center aligned basic segment">
                   <button id="payButton" class="ui orange basic circular button">Like</button>
               </div>
               <div class="ui payQR flowing popup transition hidden">
                   <div class="ui orange basic label">
                       <div class="ui images" style="font-size: inherit !important">
                           <div class="image">
                               <img src="images/QRCODE.PNG" alt="" class="ui rounded bordered image" style="width: 120px">
                               <div>Alipay</div>
                           </div>
                           <div class="image">
                               <img src="images/QRCODE.PNG" alt="" class="ui rounded bordered image" style="width: 120px">
                               <div>Wechat Pay</div>
                           </div>
                       </div>
                   </div>
               </div>

           </div>

           <!--blog information-->
           <div class="ui attached positive message">
               <div class="ui middle aligned grid">
                   <div class="eleven wide column">
                       <ui class="list">
                           <li>Writer: Kun</li>
                           <li>Post Time: 10-18-2021</li>
                           <li>Scan My QR Code</li>
                       </ui>
                   </div>
                   <div class="five wide column">
                       <img src="images/QRCODE.PNG" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                   </div>
               </div>
           </div>

           <!--leave a message-->
           <div class="ui bottom attached segment">
                <div class="ui teal segment">
                    <div class="ui comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=100">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/100/100?image=1006">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=15">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               <div class="ui form">
                   <div class="field">
                           <textarea name="content" placeholder="Please tell people what you think..."></textarea>
                   </div>
                   <div class="fields">
                       <div class="field m-mobile-wide m-margin-bottom-mini">
                           <div class="ui left icon input">
                              <i class="user icon"></i>
                               <input type="text" name="nickname" placeholder="Name">
                           </div>

                       </div>
                       <div class="field m-mobile-wide m-margin-bottom-mini">
                           <div class="ui left icon input">
                               <i class="mail icon"></i>
                               <input type="text" name="email" placeholder="Email">
                           </div>
                       </div>
                       <div class="field m-mobile-wide m-margin-bottom-mini">
                           <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>Post</button>
                       </div>
                   </div>
               </div>
           </div>

       </div>
   </div>
   <br>
   <br>


   <!--底部footer -->
   <footer class="ui inverted vertical segment m-padded-tb-massive">
       <div class="ui center aligned container">
           <div class="ui inverted divided stackable grid">
               <div class="three wide column">
                   <img src="images/QRCODE.PNG" class="ui rounded image" alt="" style="width:110px">
               </div>
               <div class="three wide column">
                   <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-title">Newest Blog</h4>
                   <div class="ui inverted link list">
                       <a href="#" class="item">User Story</a>
                       <a href="#" class="item">User Story</a>
                       <a href="#" class="item">User Story</a>
                   </div>
               </div>
               <div class="three wide column">
                   <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-title">Contact Me</h4>
                   <div class="ui inverted link list">
                       <a href="#" class="item">Email: kunyin2@illinois.edu</a>
                       <a href="#" class="item"></a>
                       <a href="#" class="item"></a>
               </div>
               </div>
               <div class="seven wide column">
                   <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-title">Newest Blog</h4>
                      <p class="m-opacity-mini">This is my blog, which will share about coding, travelling, food and moments of life.</p>

               </div>
               </div>
              <div class="ui inverted section divider"></div>
              <p class="m-text-thin m-text-spaced m-opacity-mini"> Copyright @ 2021-2022 Kun Design</p>
           </div>

       </div>

   </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
        return false;
    });

    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'bottom center'
    });

</script>

</body>
</html>